<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="js/ui/app.js"></script>
<script type="text/javascript" src="js/ui/jQuery.roundrr.js"></script>  
<title>Circles of Parity</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<style type="text/css">
@import url(css/style.css );
</style>

<body>

<ul class="list">
  {% for circle_link, circle_info in parities %}
  <li class="item">
    <a href="{{circle_link}}">{{circle_info}}</a>
  </li>
  {% endfor %}
</ul>



</body>
</html>
